body {
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 500;
    background: url(../images/1619156140_22-phonoteka_org-p-fon-dlya-chata-telegramm-25.jpeg) no-repeat center / cover;;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input, textarea {outline: none;}
textarea {
  resize: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  background: none;
}
  
  .main {
    margin: 0 25px;
    padding: 50px 0;
  }

  // _______________________________________________ Заголовок

  .comment__header {
    margin-bottom: 30px;
    padding-bottom: 20px;
    width: 390px;
    border-bottom: 2px solid #c2c6cc;
  }
  
  .comments__header-title {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color:#ffffff;
  }

  // _______________________________________________ Контейнер

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container__item {
    width: 50%;
  }

  // _______________________________________________ Форма

  .form {
    position: fixed;
    top: 140px;
  }

  .input-text {
    width: 100%;
    height: 50px;
    max-width: 800px;
    margin-bottom: 16px;
    padding: 5px 9px;
    font-size: 18px;
    border: 2px solid #dbdfe4;
    border-radius: 4px;
    transition: all .2s linear;
  }

    // _______________________________________________ Кнопки Отправить и Отменить
  
    .submit-button, .reset-button {
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      background-color: #4352e0;
      border: none;
      border-radius: 14px;
      padding: 14px 24px;
      cursor: pointer;
  
      &:hover {
        background-color: #21d02d;
      }
    }
  
    .reset-button {
      margin-left: 15px;
      background-color: #2193d0;
  
      &:hover {
        background-color: #fa0404;
      }
    }

  // _______________________________________________ Отправленный блок комментарий

  .comment-list {
    width: 500px;
    margin: 0 auto;
  }

  .comment-item {
    margin-bottom: 30px;  
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .user-name {
    font-size: 30px;
    margin-bottom: 10px;
    color: #2e9fff;
  }
  
  .comment-text {
    font-size: 18px;
    margin-bottom: 10px; 
  }

  .comment-date {
    font-size: 12px;
    margin-bottom: 30px;
  }
  
  .like-btn, .delete-btn {
    color: #000000;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
  }

.delete-btn:hover {
      color: #808080;
  }
  
  .liked {
    color: #ff0000;
  }



  // ________________________________________________ Медия запрос: 1110px

  @media screen and (max-width: 1110px) {

    .container {
      flex-direction: column;
    }
    
    .container__item {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .comment__header {
      margin: 0 auto 30px;
      text-align: center;
      width: 100%;
    }
    
    .form {
      position:static;
    }

    .comment-list {
      width: 100%;
    }
  }

   // ________________________________________________ Медия запрос: 850px

  @media screen and (max-width: 850px) {
        .container__item {
        width: 100%;
      }
  }